@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap');

$hardorange: #ff4d0a;
$beigeorange:#f09a66;
$pukegreen: #9b980f;
$sweetblue: #48beec;
$hardblue: #00205d;
$superlightpink: #fee6da;

* {
    padding: 0px;
    margin: 0px;
    border: 0;
    font-family: "inter", sans-serif;
}

li {
    list-style-type: none;
}

img {
    width: 100%;

}

body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
        "home project-number project-number"
        "project-name carousel carousel"
        "project-name carousel carousel";

    background-color: $superlightpink;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 40px;

    //home button that retracts when not hovered
    #home-button {
        grid-area: home;
        animation: animated-text-reverse 0.2s linear 1.5s both;
        margin: 30px 30px;
        font-size: 30px;
        width: 23px;
        white-space: nowrap;
        overflow: hidden;
        color: black;

        a {
            &:visited {
                color: black;
            }
        }

        &:hover {
            animation: animated-text 0.3s linear 1 both;
        }
    }

    //number that changes depending on what project is active
    .project-number {
        grid-area: project-number;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-self: flex-end;
        font-size: 20px;
        margin: 5px 110px;

        #project {
            grid-column: 1;
        }

        #project-number {
            grid-column: 2;
            justify-self: flex-end;
        }
    }

    //name as links to display the selected project
    .project-names {
        grid-area: project-name;
        display: flex;
        align-items: center;
        line-height: 1.5;
        margin: auto;

        //starting of as active project
        .acme-btn {
            color: $pukegreen;
            text-decoration: line-through;
            transform: skew(-20deg);
        }

        li:hover {
            color: $pukegreen;
            transform: skew(-20deg);
            cursor: pointer;
        }
    }

    //container for the slide
    .carousel-container {
        border: 2px solid black;
        grid-area: carousel;
        display: flex;
        width: 60vw;
        margin: auto;
        overflow: hidden;
    }

    //hover arrows to go back and forth in slide
    .nav-buttons {
        grid-area: carousel;
        display: grid;
        grid-template-columns: 1fr 1fr;

        button {
            border: none;
            outline: none;
            background-color: transparent;
            color: $beigeorange;
            opacity: 0.8;
            width: 20%;
            height: 100%;
            font-size: 40px;

            &:hover {
                background-color: gray;
                opacity: 0.1;
            }
        }



        .prevBtn {
            grid-template-columns: 1;
            justify-content: center;
            align-items: center;
            margin-left: 70px;

            &:hover {
                cursor: w-resize;
            }
        }

        .nextBtn {
            grid-template-columns: 2;
            justify-self: flex-end;
            align-items: center;
            margin-right: 70px;
            text-align: center;

            &:hover {
                cursor: e-resize;
            }
        }


    }

    .carousel-slide {
        display: flex;
    }
}


//home button animation
@keyframes animated-text {
    from {
        width: 23px;
    }

    to {
        width: 120px;
    }
}

@keyframes animated-text-reverse {
    from {
        width: 120px;
    }

    to {
        width: 23px;
    }
}

//fixa den här senare
@media screen and (max-width: 600px) {
    * {
        margin: 0;
        padding: 0;
    }

    body {
        max-width: 600px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 30px;

        #home-button {
            display: flex;
            justify-content: flex-start;
            font-size: 0.8rem;
            margin: 25px 25px;
            width: 100%;
            animation: none;
        }

        button:hover {
            background-color: transparent;
        }

        .project-names {
            align-items: center;
        }

        .project-number {
            display: flex;
            flex-direction: row;
            display: none;
        }

        .nav-buttons {
            //margin-top: -50px;
            text-align: center;
        }

        .carousel-container {
            margin-top: 15vh;
            width: 95vw;
        }
    }
}