//this is for the about page: font-family: 'Inter', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap');

$hardorange: #ff4d0a;
$beigeorange:#f09a66;
$pukegreen: #9b980f;
$sweetblue: #48beec;
$hardblue: #00205d;
$superlightpink: #fee6da;

* {
    padding: 0px;
    margin: 0px;
    font-family: "inter", sans-serif;

}

li {
    list-style-type: none;
}

img {
    width: 100%;
}

body {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
        "home project-number project-number"
        "project-name carousel carousel"
        "project-name carousel carousel";

    background-color: $superlightpink;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 40px;

    #home-button {
        grid-area: home;
        animation: animated-text-reverse 0.2s linear 1.5s both;
        margin: 30px 30px;
        font-size: 30px;
        width: 23px;
        white-space: nowrap;
        overflow: hidden;
        color: black;

        a {
            &:visited {
                color: black;
            }
        }

        &:hover {
            animation: animated-text 0.3s linear 1 both;
        }
    }

    .project-number {
        grid-area: project-number;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-self: flex-end;
        font-size: 0.5em;
        margin: 5px 110px;

        #project {
            grid-column: 1;
        }

        #project-number {
            grid-column: 2;
            justify-self: flex-end;
        }
    }

    .project-names {
        grid-area: project-name;
        display: flex;

        align-items: center;
        line-height: 1.5;
        margin: auto;
    }

    .carousel-container {

        border: 2px solid black;
        grid-area: carousel;
        display: flex;
        width: 60vw;
        margin: auto;
        overflow: hidden;

        #prevBtn {

            position: absolute;
            top: 55%;
            z-index: 10;
            left: 40%;
            font-size: 30px;
            color: grey;
            opacity: 0.5;
            cursor: pointer;
        }

        #nextBtn {

            position: absolute;
            top: 55%;
            z-index: 10;
            right: 7%;
            font-size: 30px;
            color: grey;
            opacity: 0.5;
            cursor: pointer;
        }
    }

    .carousel-slide {
        display: flex;

    }

    .hidden {
        display: none;
    }

}



@keyframes animated-text {
    from {
        width: 23px;
    }

    to {
        width: 120px;
    }
}

@keyframes animated-text-reverse {
    from {
        width: 120px;
    }

    to {
        width: 23px;
    }
}